<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tools</key>
	<array>
		<dict>
			<key>imageurl</key>
			<string>gitGoogle.png</string>
			<key>name</key>
			<string>greatfire/wiki</string>
			<key>detailName</key>
			<string>翻墙利器</string>
			<key>url</key>
			<string>https://github.com/greatfire/wiki</string>
		</dict>
		<dict>
			<key>imageurl</key>
			<string>google.png</string>
			<key>name</key>
			<string>Google</string>
			<key>detailName</key>
			<string>翻墙神器</string>
			<key>url</key>
			<string>https://g.lightss.org/</string>
		</dict>
		<dict>
			<key>imageurl</key>
			<string>http://static.appicontemplate.com/appicontemplate-icon.png</string>
			<key>name</key>
			<string>Appicontemplate</string>
			<key>detailName</key>
			<string>iOS设计的icon模板</string>
			<key>url</key>
			<string>http://appicontemplate.com/</string>
		</dict>
		<dict>
			<key>imageurl</key>
			<string>http://www.sketchcn.com/images/sketchcn_logo.png</string>
			<key>name</key>
			<string>Sketchcn</string>
			<key>detailName</key>
			<string>Sketchcn是一款轻量、易用的矢量设计工具</string>
			<key>url</key>
			<string>http://www.sketchcn.com/</string>
		</dict>
	</array>
	<key>Blog</key>
	<array>
		<dict>
			<key>imageurl</key>
			<string>nsi.png</string>
			<key>name</key>
			<string>NShipster</string>
			<key>detailName</key>
			<string>国外大胡子的技术站</string>
			<key>url</key>
			<string>http://nshipster.cn/</string>
		</dict>
		<dict>
			<key>imageurl</key>
			<string>tangqiao.png</string>
			<key>name</key>
			<string>唐巧的blog</string>
			<key>detailName</key>
			<string>唐巧的技术博客</string>
			<key>url</key>
			<string>http://blog.devtang.com/</string>
		</dict>
	</array>
	<key>CocoaChina</key>
	<array>
		<dict>
			<key>imageurl</key>
			<string>http://cdn.cocimg.com/cms/templets/images/logo.png?1</string>
			<key>name</key>
			<string>iOS设计</string>
			<key>detailName</key>
			<string>非官方的iOS设计指南</string>
			<key>url</key>
			<string>http://www.cocoachina.com/design/20141117/10233.html</string>
		</dict>
		<dict>
			<key>imageurl</key>
			<string>swift.png</string>
			<key>name</key>
			<string>Swift</string>
			<key>detailName</key>
			<string>Swift -- 中文版两大官方文档汇总</string>
			<key>url</key>
			<string>http://www.cocoachina.com/industry/20140613/8818.html</string>
		</dict>
	</array>
	<key>GitHub</key>
	<array>
		<dict>
			<key>imageurl</key>
			<string>gitGoogle.png</string>
			<key>url</key>
			<string>https://github.com/search?l=Objective-C&amp;q=location%3Achina&amp;ref=simplesearch&amp;type=Repositories&amp;utf8=%E2%9C%93</string>
			<key>detailName</key>
			<string>location:china</string>
			<key>name</key>
			<string>GitHub</string>
		</dict>
	</array>
	<key>iOS</key>
	<array>
		<dict>
			<key>imageurl</key>
			<string>iOSDev.png</string>
			<key>name</key>
			<string>Apple</string>
			<key>detailName</key>
			<string>进入管理证书</string>
			<key>url</key>
			<string>https://idmsa.apple.com/IDMSWebAuth/login?&amp;appIdKey=891bd3417a7776362562d2197f89480a8547b108fd934911bcbea0110d07f757&amp;path=%2F%2Faccount%2Fios%2Fprofile%2FprofileCreate.action%3FformID%3D29128459</string>
		</dict>
		<dict>
			<key>imageurl</key>
			<string>iTunesC.png</string>
			<key>name</key>
			<string>ItunesConnect</string>
			<key>detailName</key>
			<string>发布iOS APP的地址</string>
			<key>url</key>
			<string>https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa/wa/signOutCompleted</string>
		</dict>
	</array>
</dict>
</plist>
